[dir] .js-comments > .js-comment{
    border-top:2px solid #e7edf1;
  }

[dir] .js-comments > .js-comment ~ .js-comment{
      margin-top:36px;
    }

.js-comments__title{
  display:flex;
  align-items:center;
}

[dir] .js-comments__title{
  margin-top:0;
}

.js-comments__count{
  position:relative;
  display:inline-block;
  min-width:34px;
  color:#fff;
  font-size:11px;
  line-height:21px;
}

[dir] .js-comments__count{
  margin:0 18px 9px 18px;
  padding:0 5px;
  text-align:center;
  border-radius:2px;
  background-color:#0d77b5;
}

.js-comments__count:after{
    position:absolute;
    bottom:-7px;
    width:0;
    height:0;
    content:"";
  }

[dir] .js-comments__count:after{
    border-top:7px solid #0d77b5;
  }

[dir=ltr] .js-comments__count:after{
    left:8px;
    border-right:8px solid transparent;
  }

[dir=rtl] .js-comments__count:after{
    right:8px;
    border-left:8px solid transparent;
  }

[dir] .js-comment-form{
  padding-bottom:36px;
}

[dir=ltr] .add-js-comment__form{
    padding-left:54px;
}

[dir=rtl] .add-js-comment__form{
  padding-right:54px;
}

@media (min-width: 700px){

[dir=ltr] .add-js-comment__form{
        padding-left:0
}

[dir=rtl] .add-js-comment__form{
    padding-right:0
}
  }

.js-comment{
  position:relative;
}

[dir] .js-comment{
  padding-top:36px;
}

[dir=ltr] .js-comment{
    padding-left:54px;
}

[dir=rtl] .js-comment{
  padding-right:54px;
}

.js-comment .text-content{
    font-size:16px;
  }

[dir] .js-comment .text-content{
    padding-bottom:0;
  }

[dir] .js-comment .links{
    margin:18px 0 0 0;
    padding:0;
  }

.js-comment .links a{
      text-decoration:none;
      color:#0d77b5;
      font-size:14px;
      font-weight:bold;
      line-height:18px;
    }

.js-comment .links a:hover,
      .js-comment .links a:focus{
        text-decoration:underline;
      }

.js-comment .links li{
      display:inline-block;
    }

[dir=ltr] .js-comment .links li{
    margin-right:18px;
    }

[dir=rtl] .js-comment .links li{
      margin-left:18px;
    }

@media (min-width: 700px){

[dir=ltr] .js-comment{
        padding-left:0
}

[dir=rtl] .js-comment{
    padding-right:0
}
  }

.add-js-comment__picture-wrapper.js-comment-picture{
  top:36px;
}

.js-comment-picture__image{
  position:absolute;
  overflow:hidden;
  width:36px;
  height:36px;
}

[dir] .js-comment-picture__image{
  border-radius:50%;
  background-color:#e7edf1;
}

[dir=ltr] .js-comment-picture__image{
    left:0;
}

[dir=rtl] .js-comment-picture__image{
  right:0;
}

@media (min-width: 700px){

.js-indented .js-comment-picture__image{
      width:36px;
      height:36px
  }

[dir=ltr] .js-indented .js-comment-picture__image{
        left:-72px
  }

[dir=rtl] .js-indented .js-comment-picture__image{
      right:-72px
  }
    }

.js-comment-picture__image *:not(img){
    display:inherit;
    width:inherit;
    height:inherit;
  }

.js-comment-picture__image img{
    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover;
  }

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none){

.js-comment-picture__image img{
      position:absolute;
      top:50%;
      width:100%;
      height:auto
  }

[dir=ltr] .js-comment-picture__image img{
        left:50%;
        transform:translate(-50%, -50%)
  }

[dir=rtl] .js-comment-picture__image img{
      right:50%;
      transform:translate(50%, -50%)
  }
    }

@media (min-width: 700px){

.js-comment-picture__image{
    width:54px;
    height:54px
}

[dir=ltr] .js-comment-picture__image{
        left:-90px
}

[dir=rtl] .js-comment-picture__image{
    right:-90px
}
  }

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none){

.js-comment-picture__image{
    position:relative
}
  }

.js-comment__meta *{
    display:inline;
  }

.js-comment__author{
  font-family:"metropolis"
,
sans-serif;
  font-size:16px;
  font-weight:700;
  line-height:18px;
}

[dir=ltr] .js-comment__author{
    margin-right:18px;
}

[dir=rtl] .js-comment__author{
  margin-left:18px;
}

.js-comment__author a{
    text-decoration:none;
  }

.js-comment__time{
  color:#6e7172;
  font-family:"metropolis"
,
sans-serif;
  font-size:14px;
  line-height:18px;
}

[dir] .js-comment__time{
  margin:0;
}

[dir=ltr] .js-indented{
    margin-left:36px;
}

[dir=rtl] .js-indented{
  margin-right:36px;
}

.js-indented > .js-comment:not(:last-of-type):not(.has-children):before{
    position:absolute;
    top:36px;
    width:0;
    height:100%;
    content:"";
  }

[dir=ltr] .js-indented > .js-comment:not(:last-of-type):not(.has-children):before{
    left:-54px;
    border-left:solid 1px #e7edf1;
  }

[dir=rtl] .js-indented > .js-comment:not(:last-of-type):not(.has-children):before{
    right:-54px;
    border-right:solid 1px #e7edf1;
  }

@media (min-width: 700px){

[dir=ltr] .js-indented > .js-comment:not(:last-of-type):not(.has-children):before{
        left:-54px
  }

[dir=rtl] .js-indented > .js-comment:not(:last-of-type):not(.has-children):before{
      right:-54px
  }
    }

@media (min-width: 700px){

[dir=ltr] .js-indented{
        margin-left:72px
}

[dir=rtl] .js-indented{
    margin-right:72px
}
  }

.js-show-hide-btn{
  color:#313637;
  font-size:14px;
  font-weight:600;
  line-height:18px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

[dir] .js-show-hide-btn{
  padding:0;
  cursor:pointer;
  border:0;
  background:none;
}

[dir=ltr] .js-show-hide-btn{
    margin:36px 0 0 54px;
}

[dir=rtl] .js-show-hide-btn{
  margin:36px 54px 0 0;
}

.js-show-hide-btn[aria-expanded="true"]:after{
    content:"\0020 -";
  }

.js-show-hide-btn[aria-expanded="false"]:after{
    content:"\0020 +";
  }

@media (min-width: 700px){

[dir=ltr] .js-show-hide-btn{
        margin-left:0
}

[dir=rtl] .js-show-hide-btn{
    margin-right:0
}
  }
