.ajax-throbber.sk-loading-circle .sk-circle-loading {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: url('/drupal/modules/contrib/ajax_loader/images/throbber.gif') no-repeat 0px;
}